.first-layer {
    height: 500px;
    width: 320px;
    background-image: url('../../images/test.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 65px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    -ms-border-radius: 65px;
    -o-border-radius: 65px;
}

.second-layer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../../images/emp_card.png');
    background-size: 100% 100%;

}

.text {
    color: black;
    padding: 0 10px;
    padding-top: 100%;
}

.text>p {
    color: inherit;
    word-wrap: break-word;
}