footer {
    background-color: var(--main-color, #00004D);
    color: white;
}

.footer {
    position: relative;
    padding-top: 50px;
    margin: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.container {
    display: flex;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 0px;

}

.footer-column {
    flex: 1;
    padding: 40px;

}

.footer-right-top {
    padding: 10px, 0;

}

.left-col {
    flex: 2;
    padding-top: 10px;

}

.right-col {
    flex: 1;
}

.logo {
    width: 100px;
    background-image: url('./LightLogo.png');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-info li {
    margin-bottom: 10px;
    color: white;

}

.contact-info img {
    width: 15px;

    height: auto;
    margin-right: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--second-color, #1A1AFF);
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

.phone {
    display: flex;
    align-items: center;
}

.phone-icon {
    background-image: url('./Phone.png');
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.email {
    display: flex;
    align-items: center;
}

.email-icon {
    background-image: url('./mail.png');
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.location {
    display: flex;
    align-items: center;
}

.location-icon {
    background-image: url('./Location.png');
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}