 /* --backgroundColor: #f2f4f5;
 --homeBoxColor: #3b82f6;
 --footerColor: #1e3a8a;
 --footerFontColor: #adcffa;
 --yellowColor: #ffc727; */


 .form-container form {
     color: black;
 }

 h1 {
     color: var(--footerColor);
     font-size: 50px;
     text-shadow: 2px 2px 2px var(--footerColor);
     padding: 10px;
     font-weight: normal;
 }

 .container {
     display: flex;
     width: 60%;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     margin-bottom: 50px;

     color: #000;

 }

 .form-container {
     width: 100%;
     background-color: var(--form-container-color);
     overflow-y: auto;
     padding: 50px;
     border-radius: 20px;
     background-color: #fff;
     color: #000;
     
 }

 .form-container label {
     color: black;
     font-size: 20px;
     padding: 5px;
 }

 .form-container input[type="text"],
 .form-container input[type="url"],
 .form-container select {
     width: 98%;
     border-radius: 20px;
     border: 1px solid #ccc;
     padding: 8px 12px;
     margin-bottom: 10px;
     color: #000;
 }

 .form-container select {
     width: 98%;
     background-color: #fff;
 }

 .form-container select,
 .form-container select option {
     color: #000;
 }

 .form-container select option:checked {
     color: black;
 }

 select option {
     font-size: 20px;
     padding: 5px;
 }

 select:invalid {
     color: gray;
 }

 select selected {
     color: black;
 }

 .button-container {
     display: flex;
     justify-content: flex-end;
 }

 button {
     padding: 10px 20px;
     border: none;
     border-radius: 20px;
     font-size: 16px;
     cursor: pointer;
     margin-right: 10px;
 }

 button[type="button"] {
     background-color: #fff;
     color: var(--footerColor);
     border: 1px solid var(--footerColor);
 }

 button[type="button"]:hover {
     background-color: var(--homeBoxColor);
     color: #fff;
     border: 1px solid var(--homeBoxColor);
 }

 button[type="submit"] {
     background-color: var(--footerColor);
     color: #fff;
 }

 button[type="submit"]:hover {
     background-color: var(--homeBoxColor);
     color: #fff;
 }
