.team-card {
  width: fit-content;
  height: fit-content;
}

.team-card > .first-layer {
  background-image: url("../../images/team test.jpeg");
  background-size: contain;
  background-position: 0  -140%;
  box-shadow: -2px 3px 6px 2px var(--footerColor);
  height: 600px;
  width: 400px;
}

.team-card > .first-layer > .second-layer {
  background-image: url('../../images/team_card.png');
  background-size: 120% 120%;
  background-position: 50% 95%;
  background-repeat: no-repeat;
}