.upper-main {
    background-image: url("../../images/Home bg.png");
    padding-top: 5%;
    /* box-sizing: border-box; */
    /* height: 100%; */
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* background-size: ; */
    background-size:150% 100%;
    padding-bottom: 5%;
}

.upper-main > img {
    width: calc(100%*0.20);
    height: calc(120%);
    margin-top: -4%;
}

.upper-main > p {
    color: white;
    width: 50%;
    font-size: 40px;
    font-weight: 300;
    word-spacing: 5px;
}

.first-word {
    display: inline;
    font-weight: 500;
}

.lower-main {
    display: flex;
    flex-direction: column;
}

.lower-main > p {
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 5%;
    color: var(--footerColor);
}

.boxes {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.box {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:300px !important;
    height: 300px !important;
    background-color: var(--homeBoxColor);
    border-radius: 15px;
    font-size: 35px;
    font-weight: 300;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.box > img {
    height: 100%;
    width: 60%;
}

.box > p {
    margin-top: 20px;
    margin-bottom: 0;
}



/* .upper-main > p:fi */