* {
    color: white;
}

.section-1 {
    background-image: url("../../images/bg-about\ us.png");
    padding-top: 4%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    background-size: 120% 80%;
    font-weight: 300;
    padding-bottom: 0;

}

.section-1>* {
    margin-bottom: 20px;
}

span {
    height: fit-content;
    display: flex;
    align-items: center;
}

span>img {
    width: 200px;
    height: 100px;
}

.sign {
    font-size: 20px;
    margin-top: -10px;
}

span>p {
    font-size: 40px;
    margin: 10px 0 0;
}

.paragraph {
    text-transform: none;
    width: 40%;
    font-size: 20px;
    text-align: center;

}

.join-button {
    margin-top: 20px;
    color: var(--footerColor);
    background-color: var(--yellowColor);
    font-family: Akshar;
    border: none;
    padding: 10px 15px;
    font-size: 35px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20 px;
    box-shadow: 4px 4px 4px var(--backgroundColor);
}

.join-button:hover {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    background-color: var(--backgroundColor);
    color: var(--footerColor);
    box-shadow: 4px 4px 4px var(--footerColor);
}

.join-button:active {
    box-shadow: 4px 4px 4px var(--footerColor);
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
}

.section-2 {
    margin-top: -20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.title {
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 5%;
    color: var(--footerColor);
}

.boxes {
    /* margin: 0 auto; */
    width: 100%;
    height: 400px;
    /* height: fit-content; */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.boxes>* {
    background-size: 100% 100%;
    width: 550px;
    height: 350px;
    box-sizing: border-box;
}

.mision {
    background-image: url("../../images/mission.png");
    margin-top: 20px;
    margin-bottom: 20px;


}

.vision {
    background-image: url("../../images/vision.png");
    margin-top: 20px;
    margin-bottom: 20px;

}

.box-title {
    width: fit-content;
    font-size: 40px;
    margin-top: 15%;
    margin-left: 45%;
    color: var(--footerColor);
}

.box-description {
    text-transform: none;
    width: fit-content;
    font-weight: 300;
    font-size: 20px;
    margin-top: 7%;
    margin-left: 35%;
    padding-right: 10%;
    color: var(--footerColor);
}

.section-3 {
    background-color: var(--homeBoxColor);
    padding: 50px 20px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;

}

.section-3>.title {
    margin: 0;
    margin-left: 50px;
    color: white;
    padding-bottom: 20px;
}

.section-3>.description {
    margin: 0 70px;
    text-transform: none;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;

}


.section-4 {
    margin-top: 20px;
    margin-bottom: 100px;
}
