footer {
    display: flex;
    justify-content: center;
    background: var(--footerColor);
    height: fit-content;
    color: white;
    font-family: "Akshar";
    margin: 0;
    padding: 50px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10px;
}

.footer-column {
    padding: 10px;
}

.footer-right-top {
    padding: 10px, 0;
}

.left-col>p {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0px 0px 0px;

}


.logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: auto;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

img {
    width: 15px;
    height: auto;
    margin-right: 10px;

}

h3 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    font-weight: 500;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}