html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --favoriteButtonBorderRadius:10px;
  --cardBorderRadius:30px;
  --waveHeight:50px;
  --backgroundColor:#E6E5F2;
  --homeBoxColor: #4646ff;
  --footerColor:#00004D;
  --footerFontColor:#1A1AFF;
  --yellowColor:#EBE645;
}

#root {
  /* height: fit-content; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* color:var(--grayColor) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}