html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --favoriteButtonBorderRadius: 10px;
  --cardBorderRadius: 30px;
  --waveHeight: 50px;
  --backgroundColor: #f2f4f5;
  --homeBoxColor: #3b82f6;
  --footerColor: #1e3a8a;
  --footerFontColor: #adcffa;
  --yellowColor: #ffc727;
}

#root {
  /* height: fit-content; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* color:var(--grayColor) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}